body{
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, p{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: #b0e0e6;
}

.nav-toggle-checkbox {
  display: none;
}

.nav-toggle-label {
  display: none;
}

@media (max-width: 768px) {
  .navbar .nav-toggle-label {
    display: block;
    cursor: pointer;
    padding: 10px;
  }

  .navbar .nav-toggle-label span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
  }

  .navbar .nav-menu {
      display: none;
    }

    .navbar .nav-toggle-checkbox:checked ~ .nav-menu {
      display: block;
    }
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin: 0 10px;
  position: relative;
}

.nav-menu a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 14px 16px;
}

.nav-menu .sub-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  top: 100%;
  left: 0;
  list-style-type: none;
  padding-left: 0;
}

.nav-menu .sub-menu li {
  border-bottom: 1px solid #ccc;
}

.nav-menu .sub-menu li a {
  padding: 12px 16px;
  color: #333;
}

.nav-menu li:hover > .sub-menu {
  display: block;
}